@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* Cambiar el color de fondo a transparente */
  background: rgba(0, 238, 255, 0);
  color: white;
  /* Agregar una imagen de fondo */
 
  background-size: cover; /* Para cubrir todo el área del cuerpo */
  background-position: center; /* Para centrar la imagen */
}
.content-container {
  height: calc(100vh - theme("spacing.20"));
}


